target/
# gah macs
.DS_Store

# intellij user-specific stuff
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/saveactions_settings.xml
.idea/compiler.xml
.idea/sshConfigs.xml

# IntellJ IDEA Bazel plugin settings
.ijwb

# managed by gradle's intellij (or is it intellij's gradle) plugin
.idea/libraries

# intellij high-churn
.idea/
*.iml

# See: https://docs.bazel.build/versions/master/best-practices.html#bazelrc
user.bazelrc
bazel-
bazel-*
build/